<div class="row-flex">
    <div class="width1"></div>
    <div class="width10 markup-form">
        {FORM}
        <div class="markup-time">
            <!-- Put time here -->
        </div>
    </div>
</div>
<div class="row-flex">
    <div class="width1"></div>
    <div class="width10 markup-output">
        <!-- Put output here -->
    </div>
</div>

<script>

var form = $('.markup-form .form');
var output_area = $('.markup-output');

function on_submit () {
    $.ajax({
        url: 'markup/process',
        type: 'POST',
        data: { text: $('textarea').val() },
        dataType: 'json',
        error: function (x,e) {console.log(x, e);},
        success: function (data) {
                if (data.status === 'ok') {
                    output_area.html(data.payloads.contents);
                    $('.markup-time').html('Took me ' + data.payloads.time + 'ms!');
                } else {
                    console.log("Error while processing markup!");
                }
            }
        });
    return false;
}
form.submit(on_submit);
$('textarea').change(on_submit).keyup(on_submit);

// Init the page
on_submit();

</script>
