
#disq-column {
    @media (max-width: @breakPointDesktop) {
        width: 100%;
    }

    .post-being-read {
        .transition(~"background-color 0.3s ease");
        background-color: lighten(desaturate(@colorInfo, 30%), 20%);
    }

    .panel-midriff {
        .tag-object {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .panel-midriff-right {
        .btn, button {
            margin: 0;
            padding: 0.15em 0.5em !important;
            border: none;
        }
    }
}

.forum-toc-affix {
    background-color: @white;
    min-width: 223px;

    &.affix-top {
        position: relative;
    }

    @media (max-width: @breakPointDesktop) {
        visibility: hidden;
        display: none;
    }

    @media (min-width: @breakPointDesktop) and (max-width: @breakPointBig) {
        &.affix {
            min-width: 22.5%;
        }
    }


    @media (min-width: @breakPointBig) {
        &.affix {
            min-width: 17.5%;
        }
    }

    @media (min-width: @breakPointTablet) {
        &.affix {
            top: 0;
        }

        // Debounce + CSS transitions = 4wsum!
        //.transition(~"top 0.6s ease");
    }

    .popover {
        .popover-content {
            width: 250px;
        }
    }

    .nav {
        margin: -10px 0;
        padding: 0 !important;
    }

    li {
        list-style: none;
        margin: 0 -10px;
        padding: 0;
        background-color: transparent;
        .transition(~"background-color 0.3s ease");

        &.active {
            background-color: lighten(desaturate(@colorInfo, 30%), 20%);
        }

        a {
            display: block;
            padding: (@fontBaseLine / 2) 10px;
            margin: 0;
            &:active, &:focus, &:hover {
                text-decoration: none !important;
                outline: none;
            }
        }
    }
}
