
.forum-toc-affix {
    background-color: @white;
    .transition(~"position 0.6s ease");

    &.affix-top {
        position: relative;
    }

    @media (min-width: @breakPointTablet) {
        &.affix, &.affix-bottom {
            width: 15.65%; // 25% * 70% - all those margins
        }

        &.affix {
            top: 0 !important;
        }

        /* Should be in other.less
        &.affix-bottom {
            position: absolute;
        }*/
    }
}
