
@post-panel-padding: (@panel-padding / 2);

#disq-column {
    @media (max-width: @breakPointDesktop) {
        width: 100%;
    }

    .post-being-read {
        .transition(~"background-color 0.3s ease");
        background-color: lighten(desaturate(@colorInfo, 30%), 20%);
    }

    .panel-container[id^="DISQ-"] {
        .panel-header {
            .user-profile-image {
                height: 75px;
                margin-left: -(@panel-padding * 1.33);
                margin-top: -@panel-padding;
                margin-bottom: -@panel-padding;
            }
        }
    }

    .panel-container {
        &[id^="DISQ-"], &[id^="POST-"], &.post-deleted {
            .panel-header {
                .minor-stuff {
                    color: #888888;
                    font-weight: normal;
                    line-height: 1;
                }
            }
            .panel-body {
                font-size: @font-size-content;
            }
        }

        &[id^="POST-"] {
            .panel-header {
                padding: @post-panel-padding (@post-panel-padding * 1.33);

                .user-profile-image {
                    margin-left: -(@post-panel-padding * 1.33);
                    margin-top: -@post-panel-padding;
                    margin-bottom: -@post-panel-padding;
                }
            }
        }
    }

    .panel-header {
        .user-profile-image {
            height: 52px;
            width: auto;
            margin-right: 0.67em;
            .pull-left;
        }
        .clearfix;
    }

    .panel-midriff {
        .tag-object {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .panel-midriff-right {
        .btn, button {
            margin: 0;
            padding: 0.15em 0.5em !important;
            border: none;
        }
    }

    .panel-body {
        .hashtag.tag-link {
            font-size: unit(14 / 16, 'em');
        }
    }
}

.forum-toc-affix {
    background-color: @white;
    width: 250px !important;

    &.affix-top {
        position: relative;
    }

    @media (max-width: @breakPointDesktop) {
        visibility: hidden;
        display: none;
    }

    @media (min-width: @breakPointBig) {
        width: 300px !important;
    }

    @media (min-width: @breakPointDesktop) {
        // Debounce + CSS transitions = 4wsum!
        .transition(~"top 0.3s ease");
    }

    .popover {
        .popover-content {
            width: 250px;
        }
    }

    .nav {
        margin: -10px 0;
        padding: 0 !important;
    }

    li {
        list-style: none;
        // Look at panel.less for the reference
        margin: 0 unit(-10px / @fontSizeBase * 1.33 * 0.9, 'em');
        padding: 0;

        &.active > a {
            background-color: lighten(desaturate(@colorInfo, 30%), 20%);
        }

        a {
            display: block;
            background-color: transparent;
            padding: (@defaultContentPadding / 2) 10px;
            margin: 0;
            .transition(~"background-color 0.3s ease");

            &:active, &:focus, &:hover {
                text-decoration: none !important;
                outline: none;
            }
        }

        .subtoc {
            height: 0;
            padding: 0 !important;
            overflow: hidden;
            opacity: 0;
            .transition(~"opacity 0.5s ease, height 0.5s ease");

            li {
                &.active > a {
                    background-color: lighten(desaturate(mix(@colorInfo, @color-carrot), 30%), 20%);
                }

                a {
                    font-size: @fontSizeSmall;
                    padding: 0.33em 0.66em;
                    width: 100%;
                    line-height: 1.2;
                }
            }
        }

        &.active .subtoc {
            height: 100%;
            opacity: 1;
        }
    }
}

.post-change-object
{
    @post-change-object-padding: 5px;
    clear: both;
    margin: 8px 0;
    padding: @post-change-object-padding;
    border: 1px solid #f0f0f0;

    .user-profile-image
    {
        width: 37px;
        height: 37px;
        margin: -@post-change-object-padding;
        margin-right: (2 * @post-change-object-padding);
    }

    .Differences th
    {
        background: transparent;
    }
}

.xact-listing
{
    font-size: unit(14 / 16, 'em');
}

.xact-listing-header
{
    color: @color-midnight-blue;
}

.xact-container, .xact-listing .hide-changes-btn
{
    display: none;
}
