
# Composer vendor dir
/vendor/

# Application cache
/cache/

# Local config (may contain sensitive information)
/conf/local/

/dist
/log

# Externally installed JS resources
/resources/javascript/external
