
@defaultFontSize: 13px;
@menuFontSize: 13px;

@defaultContentPadding: 20px;

// TODO: Make this relative
@fontSizeH1: 22px;
@fontSizeH2: 20px;
@fontSizeH3: 18px;
@fontSizeH4: 16px;
@fontSizeH5: 15px;
@fontSizeH6: 14px;

@fontFamilyMonospace: Menlo, Monaco, Consolas, monospace;
@fontFamilyDefault: "Helvetica Neue", Helvetica, Arial, sans-serif;
@fontFamilySerif: "Garamond", "Times New Roman", serif;

@fontMonospaced: @defaultFontSize @fontFamilyMonospace;
@fontNormal: @defaultFontSize @fontFamilyDefault;

@fontColor: #000000;
@fontBaseLine: 19px;

@linkColor: #6A80B2;
@linkColorActive: #99CC11;
@linkColorVisited: #374D7D;

@headerColor: @linkColorVisited;

// Colors
@white: #FFFFFF;
@black: #000000;
@grey:  #AAAAAA;
@lightGrey: #CCCCCC;
@veryLightGrey: #EEEEEE;
@darkGrey:  #333333;
@veryDarkGrey: #111111;


@textSelectColor: @darkGrey;
