
@defaultFontSize: 13px;
@menuFontSize: 13px;

@defaultContentPadding: 20px;

// TODO: Make this relative
@fontSizeH1: 22px;
@fontSizeH2: 20px;
@fontSizeH3: 18px;
@fontSizeH4: 16px;
@fontSizeH5: 15px;
@fontSizeH6: 14px;

@fontFamilyMonospace: Menlo, Monaco, Consolas, monospace;
@fontFamilyDefault: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
@fontFamilySerif: "Garamond", "Times New Roman", serif;

@fontMonospaced: @defaultFontSize @fontFamilyMonospace;
@fontNormal: @defaultFontSize @fontFamilyDefault;

@fontColor: #000000;
@fontBaseLine: 19px;

@linkColor: #6A80B2;
@linkColorActive: #99CC11;
@linkColorVisited: #374D7D;

@headerColor: @linkColorVisited;

// Colors
@white: #FFFFFF;
@black: #000000;
@grey:  #AAAAAA;
@lightGrey: #CCCCCC;
@veryLightGrey: #EEEEEE;
@darkGrey:  #333333;
@veryDarkGrey: #111111;

@brightRed: #B4807B; // pastel red
@darkBlue: #2C425A; // dark cool blue
@coolBlue: #6283A7; // cool blue
@oliveGreen: #6C7438; // olive green
@brightOliveGreen: #E4F383; // bright olive green

@colorUNSC: #1A6617;
@colorCovenant: #312573;
@colorFlood: #B25D1F;

@yellow: #FFE761;
@pink: #FF61CB;
@tintedGrey: #665A62;
@boneMeal: #D2D09A;
@purple: #A562CC;

@colorInfo: #224499;
@colorSuccess: #228822;
@colorError: #AA1212;

@textSelectColor: @darkGrey;
