
.tag-color (@color) {
    background-color: @color;
}

.tag-object {
    display: inline-block;
    margin: 0 2px;
    padding: 1px 4px;
    color: @white;
    font-weight: bold;
    white-space: nowrap;
    letter-spacing: .05em;
    .round-border(@border-radius-medium);
    .tag-color(mix(@colorInfo, @grey));

    &:before {
        content: "#";
    }

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

.tag-color-project {
    .tag-color(@colorInfo);
}
.tag-color-restricted {
    .tag-color(@color-lavender);
}
.tag-color-success {
    .tag-color(@color-success-real);
}
.tag-color-info {
    .tag-color(@color-info-real);
}
.tag-color-warning {
    .tag-color(@color-warning-real);
}
.tag-color-danger {
    .tag-color(@color-danger-real);
}
