<div class="grid-system"><div class="row-flex">

<div class="width8">
<h1>Discussion Listing</h1>

<forum-listing>
    <forum-listing-entry ng-repeat-start="discussion in discussions track by discussion.uid">
    </forum-listing-entry>
    <div class="special-child" ng-if="( $index + 1 ) % pageSize == 0 || $last" ng-repeat-end>
        <center>
            <h2>^ Page {{($index + 1) / pageSize}} ^</h2>
            <h4><span style="color: #333;">{{discussions[$index - 9].createdAtRendered}}</span> through <span style="color: #333;">{{discussion.createdAtRendered}}</span></h4>
        </center>
    </div>
</forum-listing>

<div class="objects-list-empty-message discussions-loading {{loadingClass}}">Loading...</div>
<center><a ng-click="loadNextPage()" class="btn btn-large btn-primary">Load next page</a></center>
</div>

<div class="width4 hidden-tablet hidden-phone">
    <div class="discussion-listing-sidebar">
        Hi
    </div>
</div>

<link rel="stylesheet" type="text/css" href="css/modules/forum/listing.css" />
<style>.objects-list-container.forum-list-container{margin-top: 0;}</style>

</div></div>
