
@fontSizeBase: 14px;

@defaultFontSize: @fontSizeBase;

@fontSizeLarge: 1.25em;
@fontSizeSmall: 0.85em;

@defaultContentPadding: 20px;

// TODO: Make this relative
@fontSizeH1: unit(22px / @fontSizeBase, 'em');
@fontSizeH2: unit(20px / @fontSizeBase, 'em');
@fontSizeH3: unit(18px / @fontSizeBase, 'em');
@fontSizeH4: unit(16px / @fontSizeBase, 'em');
@fontSizeH5: unit(15px / @fontSizeBase, 'em');
@fontSizeH6: unit(14px / @fontSizeBase, 'em');

@fontFamilyMonospace: Menlo, Monaco, Consolas, monospace;
@fontFamilyDefault: "Helvetica Neue", Helvetica, "Segoe UI", Arial, sans-serif;
@fontFamilySerif: "Garamond", "Times New Roman", serif;

@fontMonospaced: @defaultFontSize @fontFamilyMonospace;
@fontNormal: @defaultFontSize @fontFamilyDefault;

@fontColor: #000000;
@fontBaseLine: 1.42857;

@linkColor: #6A80B2;
@linkColorActive: #336699;
@linkColorVisited: #374D7D;

@headerColor: @linkColorVisited;

@border-radius-base: 3px;
@border-radius-large:   6px;

// Colors
@white: #FFFFFF;
@black: #000000;
@grey:  #AAAAAA;
@lightGrey: #CCCCCC;
@veryLightGrey: #EEEEEE;
@darkGrey:  #333333;
@veryDarkGrey: #111111;

@brightRed: #B4807B; // pastel red
@darkBlue: #2C425A; // dark cool blue
@coolBlue: #6283A7; // cool blue
@oliveGreen: #6C7438; // olive green
@brightOliveGreen: #E4F383; // bright olive green

@colorUNSC: #1A6617;
@colorCovenant: #312573;
@colorFlood: #B25D1F;

@yellow: #FFE761;
@pink: #FF61CB;
@tintedGrey: #665A62;
@boneMeal: #D2D09A;
@purple: #A562CC;

@colorInfo: rgb(116, 147, 224);
@colorSuccess: rgb(105, 218, 105);
@colorError: rgb(234, 132, 132);
@colorWarning: mix(@colorError, @yellow);

@color-info-real: darken(desaturate(@colorInfo, 10%), 15%);
@color-success-real: darken(desaturate(@colorSuccess, 10%), 15%);
@color-danger-real: darken(desaturate(@colorError, 10%), 15%);
@color-warning-real: darken(desaturate(@colorWarning, 10%), 15%);
