
@fontSizeBase: 14px;

@defaultFontSize: @fontSizeBase;

@fontSizeLarge: 1.25em;
@fontSizeSmall: 0.85em;

@defaultContentPadding: 20px;

@font-size-h1:    2em;
@font-size-h2:  1.5em;
@font-size-h3: 1.17em;
@font-size-h4:    1em;
@font-size-h5: 0.83em;
@font-size-h6: 0.67em;

@fontFamilyMonospace: Menlo, Monaco, Consolas, monospace;
@fontFamilyDefault: "Helvetica Neue", "Open Sans", Arial, sans-serif;
@fontFamilySerif: "Garamond", "Times New Roman", serif;

@fontMonospaced: @defaultFontSize @fontFamilyMonospace;
@fontNormal: @defaultFontSize @fontFamilyDefault;

@fontColor: #000000;
@fontBaseLine: 1.42857;

@linkColor: #6A80B2;
@linkColorActive: #336699;
@linkColorVisited: #374D7D;

@headerColor: @linkColorVisited;

@border-radius-base:    3px;
@border-radius-medium:  5px;
@border-radius-large:   7px;
@border-radius-button:  4px;

// Colors
@white: #FFFFFF;
@black: #000000;
@grey:  #AAAAAA;
@lightGrey: #CCCCCC;
@veryLightGrey: #EEEEEE;
@darkGrey:  #333333;
@veryDarkGrey: #111111;

@brightRed: #B4807B; // pastel red
@darkBlue: #2C425A; // dark cool blue
@coolBlue: #6283A7; // cool blue
@oliveGreen: #6C7438; // olive green
@brightOliveGreen: #E4F383; // bright olive green

@colorUNSC: #1A6617;
@colorCovenant: #312573;
@colorFlood: #B25D1F;

@yellow: #FFE761;
@pink: #FF61CB;
@tintedGrey: #665A62;
@boneMeal: #D2D09A;
@purple: #A562CC;

@colorInfo: rgb(116, 147, 224);
@colorSuccess: rgb(105, 218, 105);
@colorError: rgb(234, 132, 132);
@colorWarning: mix(@colorError, @yellow);

@color-info-real: darken(desaturate(@colorInfo, 10%), 15%);
@color-success-real: darken(desaturate(@colorSuccess, 10%), 15%);
@color-danger-real: darken(desaturate(@colorError, 10%), 15%);
@color-warning-real: darken(desaturate(@colorWarning, 10%), 15%);

// Flat UI colors
// Colors from http://codepen.io/reimersjan/pen/khEsA
// or flatuicolors.com

@color-turquoise:     #1abc9c;    // turquoise
@color-emerland:      #2ecc71;    // brighter green
@color-peterriver:    #3498db;    // brighter blue
@color-amethyst:      #9b59b6;    // bright-ish purple
@color-wet-asphalt:   #34495e;    // grey blue

@color-greensea:      #16a085;    // greenish blue (dark turquoise)
@color-nephritis:     #27ae60;    // darker green
@color-belize-hole:   #2980b9;    // medium blue
@color-wisteria:      #8e44ad;    // medium purple
@color-midnight-blue: #2c3e50;    // dark grey blue

@color-sunflower:     #f1c40f;    // pure yellow
@color-carrot:        #e67e22;    // bright-ish orange
@color-alizarin:      #e74c3c;    // bright-ish red
@color-clouds:        #ecf0f1;    // white-ish grey
@color-concrete:      #95a5a6;    // darker medium grey

@color-orange:        #f39c12;    // orange-tinted yellow (think Capri Sonne)
@color-pumpkin:       #d35400;    // medium dark orange
@color-pomegranate:   #c0392b;    // darker red
@color-silver:        #bdc3c7;    // medium grey
@color-asbestos:      #7f8c8d;    // very darker medium grey

// -----------------------------------------------------------------------------
// -- Re-used measurements -----------------------------------------------------
// -----------------------------------------------------------------------------

// ****************************
// Panels
// ****************************

@panel-radius: 3px;
@panel-padding: unit(10px / @fontSizeBase * 0.9, 'em');

// ****************************
// Forms
// ****************************

@form-control-element-padding: unit(5 / 14, 'em'); // 5px for 14px font
@form-control-error-color: @color-pomegranate;
@form-control-help-color: @color-asbestos;

// ****************************
// Users
// ****************************

@color-bad-username: @color-pomegranate;

// ****************************
// Objects
// ****************************

@object-bg-color: @veryLightGrey;
@object-border-color: @lightGrey;
@object-attributes-color: @darkGrey;
@object-header-link-color: mix(@black, @linkColor, 30%);
@object-header-link-hover-color: mix(@black, @linkColorActive, 30%);

// ****************************
// Diff
// ****************************

@diff-hue-offset: 63;
@diff-sat-offset: -10%;
@diff-lig-offset: 5%;

@diff-hue-base: 67;
@diff-sat-base: 67%;
@diff-lig-base: 77%;

@diff-hue-color-insert-base: @diff-hue-base;
@diff-sat-color-insert-base: @diff-sat-base;
@diff-lig-color-insert-base: @diff-lig-base;

@diff-hue-color-delete-base: @diff-hue-base - @diff-hue-offset;
@diff-sat-color-delete-base: @diff-sat-base;
@diff-lig-color-delete-base: @diff-lig-base;

@color-diff-insert-bg: hsl(
                        @diff-hue-color-insert-base,
                        @diff-sat-color-insert-base - @diff-sat-offset,
                        @diff-lig-color-insert-base
                    );
@color-diff-insert-fg: hsl(
                        @diff-hue-color-insert-base,
                        @diff-sat-color-insert-base,
                        @diff-lig-color-insert-base - @diff-lig-offset
                    );

@color-diff-delete-bg: hsl(
                        @diff-hue-color-delete-base,
                        @diff-sat-color-delete-base - @diff-sat-offset,
                        @diff-lig-color-delete-base
                    );
@color-diff-delete-fg: hsl(
                        @diff-hue-color-delete-base,
                        @diff-sat-color-delete-base,
                        @diff-lig-color-delete-base - @diff-lig-offset
                    );

@color-diff-table-header: @color-clouds;
