
.btn-mixin(@bgColor, light) {
    color: @white !important;
    .box-shadow(inset 0 0 18px rgba(0, 0, 0, .15));

    .btn-mixin-common(@bgColor);
}

.btn-mixin(@bgColor, dark) {
    color: @veryDarkGrey !important;
    .box-shadow(inset 0 0 18px rgba(0, 0, 0, .15));

    .btn-mixin-common(@bgColor);

    &[disabled] {
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    }
}

.btn-mixin-common(@bgColor) {
    background-color: @bgColor;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
        background-color: darken(@bgColor, 10%);
    }

    &[disabled] {
        @disabledColor: mix(@grey, darken(@bgColor, 10%), 20%);
        background: @disabledColor;
        cursor: default;
        color: @veryLightGrey !important;

        &:hover {
            background: @disabledColor;
        }
    }
}

a.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    .round-border(4px);
    font-size: @defaultFontSize;
    font-weight: bold;
    cursor: pointer;
    padding:  0.4em 0.67em;
    margin: 0.2em;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    -moz-outline-style: none;
    line-height: @fontBaseLine;
    border: 1px solid @grey;
    background: 0;
    .transition(background-color 0.2s);
    .transition(background-image 0.2s);

    &.small {
        font-size: (@defaultFontSize * 0.85);
        padding:  0.2em 0.67em;
    }

    .btn-mixin(@coolBlue, light);

    &.primary {
        .btn-mixin(@darkBlue, light);
    }

    &.grey {
        .btn-mixin(@veryLightGrey, dark);
    }

    &.orange {
        .btn-mixin(#EE9933, light);
    }

    &.red {
        .btn-mixin(#DD4433, light);
    }

    &.green {
        .btn-mixin(@brightOliveGreen, light);
    }
}
