
.btn-mixin(@bgColor, light) {
    color: @white !important;

    .btn-mixin-common(@bgColor);
}

.btn-mixin(@bgColor, dark) {
    color: @veryDarkGrey !important;

    .btn-mixin-common(@bgColor);

    &[disabled] {
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    }
}

.btn-mixin-common(@bgColor) {
    background-color: @bgColor;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none !important;
        background-color: darken(@bgColor, 10%);
    }

    &[disabled] {
        @disabledColor: mix(@grey, darken(@bgColor, 10%), 20%);
        background: @disabledColor;
        cursor: default;
        color: @veryLightGrey !important;

        &:hover {
            background: @disabledColor;
        }
    }
}

a.btn,
button,
input[type="button"],
input[type="submit"] {
    .round-border(4px);
    font-size: @defaultFontSize;
    font-weight: bold;
    cursor: pointer;
    padding:  0.4em 0.67em;
    margin: 0.2em;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    -moz-outline-style: none;
    line-height: @fontBaseLine;
    background: none;
    border: 1px solid transparent;
    .transition(~"background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease");
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    &.small {
        font-size: (@defaultFontSize * 0.85);
        padding:  0.2em 0.67em;
    }

    &.large {
        font-size: (@defaultFontSize * 1.25);
        font-weight: normal;
    }

    &.close {
        float: right;
        font-size: (@defaultFontSize * 1.25);
        font-weight: bold;
        line-height: 1;
        margin: 0;
        background: transparent;
        color: @darkGrey !important;
        text-shadow: 0 1px 0 #ccc;

        &:hover {
            background: @veryLightGrey;
            color: @darkGrey !important;
            text-decoration: none;
            cursor: pointer;
            opacity: .5;
        }

        // Additional properties for button version
        // iOS requires the button element instead of an anchor tag.
        // If you want the anchor version, it requires `href="#"`.
        button& {
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
            -webkit-appearance: none;
        }
    }

    &.primary, &.btn-primary {
        .btn-mixin(mix(@darkBlue, @coolBlue, 30%), light);
    }

    &.grey, &.btn-default {
        .btn-mixin(darken(@veryLightGrey, 5%), dark);
    }

    &.btn-danger, &.danger {
        .btn-mixin(@color-danger-real, light);
    }

    &.btn-info, &.info {
        .btn-mixin(@color-info-real, light);
    }

    &.btn-success, &.success {
        .btn-mixin(@color-success-real, light);
    }

    &.btn-warning, &.warning {
        .btn-mixin(@color-warning-real, light);
    }
}
