
body {
    background-color: @white;
}

.wrapper {
    @media screen and (max-width: @breakPointMobile) {
        width: 100%;
    }

    @media screen and (min-width: @breakPointDesktop) {
        margin-top: 50px; // Header height
        margin-left: 90px; // Sidenav width
    }

    @media screen and (min-width: @breakPointBig) {
        width: 75%;
        margin: 10px auto;
        margin-top: unit(50 + 10, 'px'); // Header height + 10
    }

    text-align: left;
}

.header {
    @media screen and (min-width: @breakPointDesktop) {
        z-index: @zindex-navbar-fixed;
        background: @veryLightGrey;
        position: fixed;
        top: 0;
        left: 0;
    }
    text-align: left; // Reset from body
    width: 100%;
    .box-shadow(0 0 10px rgba(0, 0, 0, 0.5));

    @media screen and (max-width: @breakPointMobile) {
        width: auto;
        height: auto;
    }
}

.header-content {
    padding: 0.5em 1em;
    padding-top: 0.33em;

    .reset-margin-top-for-most-children;

    #gradient > .vertical(@white, @veryLightGrey);

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;
        color: @darkGrey;
        line-height: 1.1; // Overwrite

        a {
            color: @darkGrey;
        }
    }

    .user-plate {
        float: right;
    }
}

.mh-side-navbar {
    @media screen and (max-width: @breakPointDesktop) {
        display: none !important;
        visibility: hidden !important;
    }
    z-index: @zindex-navbar-fixed;
    position: fixed;
    height: 100%;
    top: 0;
    margin-top: 50px; // Header height
    width: 5em;
    text-align: center;
    background-color: @veryLightGrey;
    color: @darkGrey;
    .pull-left;
    .clearfix;
    .box-shadow(0 5px 5px rgba(0, 0, 0, 0.5));

    a {
        color: @darkGrey;
    }

    .mh-side-navbar-item {
        list-style: none;
        margin-top: 1em;
        margin-bottom: 1em;

        .mh-side-navbar-icon {
            font-size: 3em;
            line-height: 1;
        }

        .mh-side-navbar-text {
            font-size: 0.85em;
        }
    }
}

.layout-container {
    & > .row-flex {
        margin-left: 0 !important;
        margin-right: 0 !important;

        & > .content {
            ul,
            ol {
                list-style-position: inside;
                padding: 0 @defaultFontSize;
            }

            a {
                color: @linkColor;
                text-decoration: none;

                &:hover, &:focus {
                    color: @linkColorActive;
                    text-decoration: underline;
                }
                &:visited {
                    color: @linkColorVisited;
                }
            }
        }
    }
}

.footer {
    clear: left;
    width: 100%;
    margin: 0;
    padding: @defaultContentPadding;
    font-size: 0.85em;
    color: #999;
    min-height: 140px;

    @media screen and (max-width: @breakPointTablet) {
        background: @veryLightGrey;
    }

    h3 {
        margin-top: 0;
    }

    .footer-section {
        float: left;
        margin: 0;
        margin-right: 2em;

        @media screen and (max-width: @breakPointMobile) {
            font-size: 1.1em;
            margin: 0;
            margin-top: 1em;
            float: none;

            &:first-child {
                margin-top: 0;
            }
        }

        .footer-section-entry {
            list-style: none;

            a {
                color: #666666;

                &:hover, &:focus {
                    color: @darkGrey;
                }
            }
        }
    }
}
