
.wrapper {
    @media screen and (max-width: @breakPointMobile) {
        width: 100%;
    }

    @media screen and (min-width: @breakPointTablet) {
        margin: 10px auto;
    }

    @media screen and (min-width: @breakPointDesktop) {
        width: 90%;
    }

    text-align: left;
    background-color: @white;
}

.header-wrap {
    background: @veryLightGrey;
    background-repeat: repeat-x;

    @media screen and (max-width: @breakPointMobile) {
        background: none;
        width: auto;
        height: auto;
    }
}

.header {
    height: 140px;
    background-repeat: no-repeat;
    background-position: left;

    @media screen and (max-width: @breakPointMobile) {
        background: none;
        width: auto;
        height: auto;
    }
}

.header-content {
    width: 100%;
    height: 140px;
    padding: 1em 2em;
}

.sidebar {
}

.layout-container {
    & > .row-flex {
        margin-left: 0 !important;
        margin-right: 0 !important;

        & > .content {
            background-color: #fff;

            ul,
            ol {
                list-style-position: inside;
                padding: 0 @defaultFontSize;
            }

            a {
                color: @linkColor;
                text-decoration: none;

                &:hover, &:focus {
                    color: @linkColorActive;
                    text-decoration: underline;
                }
                &:visited {
                    color: @linkColorVisited;
                }
            }
        }
    }
}

.footer {
    clear: left;
    width: 100%;
    margin: 0;
    padding: @defaultContentPadding;
    font-size: 0.85em;
    color: #999;
    min-height: 140px;

    h3 {
        margin-top: 0;
    }

    .footer-section {
        float: left;
        margin: 0;
        margin-right: 2em;

        .footer-section-entry {
            list-style: none;

            a {
                color: #666666;

                &:hover, &:focus {
                    color: @darkGrey;
                }
            }
        }
    }
}
