
@colorObjectBackground: mix(@oliveGreen, @boneMeal);

.objects-list-container {
    margin-top: 2em;

    &.width1, &.width2, &.width3, &.width4, &.width5, &.width6, &.width7, &.width8, &.width9, &.width10, &.width11, &.width12 {
        padding-top: 0 !important;
    }
}

.objects-list-title {
    margin-bottom: @defaultFontSize;
}

.objects-object-container {
    margin: 5px 0;
    padding: 5px;
    padding-left: 8px;
    border: 0;
    border-left: @colorObjectBackground 5px solid;
    background-color: lighten(@colorObjectBackground, 30%);
}

.objects-object-title {
    font-size: @fontSizeH4;
    font-weight: bold;
}

a.objects-object-title {
    color: mix(@black, @linkColor, 30%) !important;

    &:hover {
        color: mix(@black, @linkColorActive, 30%) !important;
    }
}

.objects-object-attributes {
    color: darken(@colorObjectBackground, 20%);
    font-size: 0.9em;
}
