
<div class="grid-system front-page">

    <div class="row-flex">
        <div class="width12"><h1>Why you would want to use the ModHub</h1></div>
    </div>

    <div class="row-flex">
        <div class="width3">
            <div class="landing-icon">
                <i class="ion-ios7-circle-outline big-icon"></i>
            </div>

            <div class="landing-content">
                <h2>Zen!</h2>
                <p>
                    Relax, take it <em>eeee-heee-syyy</em>! This is not your grandfather's forum software, you don't have to browse every single category and every single newsfeed to stay up to date. Instead, lean back and let news come to <em>you!</em>
                </p>
            </div>
        </div>

        <div class="width3">
            <div class="landing-icon">
                <i class="ion-radio-waves big-icon"></i>
            </div>

            <div class="landing-content">
                <h2>Get noticed!</h2>
                <p>
                    Spread the words, get read by other people. Who knows, maybe you'll break some ice and get some hot date. You never know until you try!
                </p>
            </div>
        </div>

        <div class="width3">
            <div class="landing-icon">
                <i class="ion-ios7-locked big-icon"></i>
            </div>

            <div class="landing-content">
                <h2>Secure!</h2>
                <p>
                    Your data, your identity, your password.
                    Everything you trust to us is in good hands. You can trust us on that.
                    Expert cryptography and hashing, and secure best industry practices combined
                    make this platform untouchable!
                </p>
            </div>
        </div>

        <div class="width3">
            <div class="landing-icon">
                <i class="ion-monitor medium-icon"></i>
                <i class="ion-laptop medium-icon"></i>
                <i class="ion-ipad medium-icon"></i>
                <i class="ion-iphone medium-icon"></i>
            </div>

            <div class="landing-content">
                <h2>Works everywhere!</h2>
                <p>
                    Well, at least we promise. Progress' coming far, though
                    sometimes it <em>is</em> lacking at some parts. We try not
                    to compromise your work only because you have some
                    mysterious device capable of trashing dial-ring phones.
                </p>
            </div>
        </div>

        <div class="width3">
            <div class="landing-icon">
                <i class="ion-ios7-clock big-icon"></i>
            </div>

            <div class="landing-content">
                <h2>Saves time!</h2>
                <p>
                    Save your precious clock, don't throw it into the bin. Send it as your regard to:
                </p>

                <pre style="text-align: left;">Anh Nhan Nguyen
2911 Colorado Blvd
Idaho Springs, CO
+1 303-567-1410</pre>

                <p>This will save you time helping small stranded people (like me).</p>
            </div>
        </div>

        <div class="width3">
            <div class="landing-icon">
                <i class="ion-coffee big-icon"></i>
            </div>

            <div class="landing-content">
                <h2>Relaxed!</h2>
                <p>
                    Get some coffee. Choose your favourite topic. All energy to the jump drives. Make it so!
                </p>
            </div>
        </div>

        <div class="width3">
            <div class="landing-icon">
                <i class="ion-document-text big-icon"></i>
            </div>

            <div class="landing-content">
                <h2>All data at hand!</h2>
                <p>
                    We have a Table of Contents! We have links to other pages! We own the world!
                </p>
            </div>
        </div>

        <div class="width3">
            <div class="landing-icon">
                <i class="ion-cloud big-icon"></i>
            </div>

            <div class="landing-content">
                <h2>Cloud-driven!</h2>
                <p>
                    Never goes down (unless we don't pay our bills)! Never lose your data (feature for the future)! 6x file storage replication (assuming we use Amazon S3)!
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .front-page {
        text-align: center;
    }

    .front-page p {
        text-align: justify;
    }

    .front-page .medium-icon, .front-page .big-icon {
        cursor: default;
    }

    .front-page i.medium-icon {
        font-size: 5em;
        margin: 0.7em 0.1em;
    }

    .front-page i.big-icon {
        font-size: 10em;
        margin: 0.1em;
    }
</style>
