
.forum-list-container {

    .objects-object-container {
        padding: 8px;
        margin-top: 10px;
        margin-bottom: 10px;

        .round-border(5px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .objects-object-attributes {

        .post-count {
            display: inline-block;
            min-width: 1em;
            text-align: right;
        }

        .tag-object {
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
